<% if current_user.role == "admin"%>
    <%= render 'index_admin' %>
<% else %>
    <%= render '/home/navbar'%>
    <%= form_with url: articles_url, local: true, method: :get do |form| %>
        <%= form.text_field :query, class:"form-control",value: params[:query]  %>
        <%= form.submit "Pesquisar", class:"btn btn-success" %>
    <% end %>
    <% flash.each do |type, msg| %>
        <div class="alert alert-warning" role="alert">
        <%= msg %>
        </div>
    <% end %>
    <% @articles.each do |article| %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-5"><a href=<%= article_path(article)%>><%= article.title%></h1></a>
                <p class="lead"><%= article.body[0,300]%>...</p>
                <a class="btn btn-success btn-sm" href=<%= article_path(article) %> role="button">Ver mais</a>
                <a class="btn btn-success btn-sm" href=<%= comment_article_path(article) %> role="button">Comentar</a>
            </div>
        </div>
    <% end %>
<% end %>