<h1>Artigos</h1>
<% if user_admin? %>
<%= link_to 'Novo Artigo', new_article_path, class:'btn btn-success'%>
<% end %>

<% @articles.each do |article| %>
  <div class='col-10 offset-1'>
    <h3><%= article.title %></h3>
    <p><%= article.body %></p>
    <% if user_admin? %>
      <%= link_to 'Mostrar', article, class:'btn btn-success btn-sm' %>
      <%= link_to 'Editar', edit_article_path(article), class:'btn btn-warning btn-sm' %>
      <%= link_to 'Remover', article, method: :delete, data: { confirm: 'Tem certeza?' },class:'btn btn-danger btn-sm' %>
    <% end %>
    
    <div id='comments_<%= article.id %>'>
      <h5>Comentários</h5>
    <%= render 'form_comment', :article => article.id %>

      <ul class="list-group" id="comments_list_<%= article.id %>">
      <% article.comment_articles.reverse.each do |comment| %>
        <li class="list-group-item" id="comment_<%= comment.id %>"><%= comment.user.email %>:<p>"<%= comment.body %>"</p>
        <% if user_admin? %>
          <%= link_to 'Remover Comentário', deletearticlecomment_url(comment.id), method: :delete, local: false, remote: true, data: { confirm: 'Tem certeza?' } %>
        <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>