<%= render '/home/navbar'%>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
        <%= @article.title %></h5>
        <h6 class="card-subtitle mb-2">
        <%= @article.body %></h6>
        <p class="card-text">
        <% @article.tags.each do |tag| %>
            <button type="button" class="btn btn-primary btn-sm"><%= tag.try(:tag) %></button>            
        <% end %>
                            
        <%= link_to 'Editar', edit_article_path(@article), class:"btn btn-warning" %>
      </div>
        <%= link_to 'Voltar', articles_path, class:"btn btn-success" %>
    </div>
</div>