<%= render 'navbar'%>

<h1>Admin#index</h1>
<% flash.each do |type, msg| %>
    <div class="alert alert-warning" role="alert">
            <%= msg %>
    </div>
 <% end %>



<div class="container">
  <div class="row">
    <div class="col-sm">
     Vídeos recentes
     <a class="btn btn-primary" href=<%= articles_path %> role="button">Administrar Notícias</a>
    </div>
    <div class="col-sm">
      Notícias recentes
      <a class="btn btn-primary" href=<%= videos_path %> role="button">Administrar Vídeos</a>
    </div>
    <div class="col-sm">
      Usuários
      <td><a class="btn btn-warning" href=<%= users_path %> role="button">Administrar Usuários</a></td>
    </div>
  </div>
</div>