<div class="container">
    <%= form_with model: @user, local: true do |form| %>
    
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <h2>
                        Corrija <%= pluralize(@user.errors.count, "erro") %> antes de prossegir.
                    </h2>
                    <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <div class="form-group">
        <p>
                <%= form.label :email %><br>
                <%= form.text_field :email, class:"form-control" %>
        </p>
        </div>
         <p>
            <%= form.label :name, "Nome"  %><br>
            <%= form.text_field :name, class:"form-control"%>
        </p>

        <p>
            <%= form.label :password, "Senha" %><br>
            <%= form.password_field :password, class:"form-control"%>
        </p>
        <p>
            <%= form.label :password_confirmation, "Confirmar Senha" %><br>
            <%= form.password_field :password_confirmation, class:"form-control" %>
        </p>
        
        
        <p>
            <%= form.submit "Salvar", class:"btn btn-success" %>
        </p>
        
    <% end %>
    
    </form>
</div>