<div class="container">
    <p>
        <h2><%= @video.title %><br></h2>
        <iframe width="420" height="315"
            src=<%= @video.url%>> 
         </iframe>
    </p>
     
  <%= form_with url: save_comment_video_url, method: :post do |form| %>
           
        <div class="form-group">
       
        <p>
            <%= form.label :comment, "Escreva seu comentário" %><br>
            <%= form.text_area :comment, class:"form-control"  %>
        </p>
        
        <p>
            <%= form.submit "Salvar", class:"btn btn-success" %>
        </p>
        
    <% end %>

</div>