<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @video.title %>
</p>

<p>
  <iframe width="560" height="315" src='<%= @video.url %>' frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
</p>

<%= link_to 'Editar', edit_video_path(@video), class:'btn btn-warning btn-sm'%> 
<%= link_to 'Voltar', videos_path, class:'btn btn-primary btn-sm'%>
